.bottomShadow {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.more-options {
    display: none;
}

@media (max-width: 1493px) {
    .hide-options {
        display: none;
    }

    .more-options {
        display: block;
    }

}

@media (max-width: 1159px) {
    .hide-options2 {
        display: none;
    }

}

@media (max-width: 1024px) {
    .header-tag {
        padding-left: 0px;
        padding-right: 0px;
    }

    .left-row {
        width: 70%;
    }

    .right-row {
        width: 30%;
        display: flex;
        align-items: center;
        padding-left: 7%;
    }

    .options {
        display: none;
    }

}

@media (max-width: 680px) {
   .buy-button {
    font-size: 14px;
    height: 50px;
    width: 100px;
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 12px;
    padding-bottom: 0px;
   }
}

@media (max-width: 634px) {
    .header-tag {
        display: flex;
        flex-direction: column;
    }

    .left-row {
        width: 100%;
    }

    .left-row ul li {
        font-size: 11px;
    }

    .right-row {
        width: 100%;
        padding-left: 0px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
}
